@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Kiwi+Maru:wght@300;400;500&display=swap');

body {
    margin: 0px;
    padding: 0px;
    font-family: 'Kiwi Maru', serif;
}

* {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

#main {
    width: 100%;
    height: 100vh;
    position: relative;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    box-shadow: 5px 10px rgba(0,0,0,0.02);
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 1;
    background-color: #ffffff;
}

nav ul {
    display: flex;
}

nav ul li a {
    height: 40px;
    line-height: 43px;
    margin: 3px;
    padding: 0px 22px;
    display: flex;
    font-size: 0.8rem;
    text-transform: uppercase;
    font-weight: 500;
    color: #585b5b;
    letter-spacing: 1px;
}

nav .menu-btn {
    display: none;
}

.hey {
    color: #39bfbd;
    font-weight: 500;
    font-size: 0.9rem;
    border-bottom: 2px solid #40c6c4;
}

nav ul li a:hover {
    background-color: #2adabc;
    color: #FFFFFF;
    border-radius: 10px;
    box-shadow: 5px 10px 30px rgba(64, 198, 196, 0.3);
}

.center img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.center {
    width: 200px;
    height: 200px;
}

.content {
    width: 90%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.main-text {
    width: 450px;
}

.main-text h1 {
    font-size: 3.5rem;
    color: #1c3548;
    margin: 0px 0px 10px 0px;
    line-height: 60px;
}

.main-text p {
    color: #747474;
}

.portfolio-btn,
.port-box a {
    width: 190px;
    height: 44px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    background-color: #1db096;
    border-radius: 10px;
    box-shadow: 4px 10px 30px rgba(24,139,119,0.2);
}

.portfolio-btn:hover,
.port-box a:hover,
.contact-input a:hover {
    background-color: #23cdaf;
    transition: all ease 0.2s;
}

.portfolio-heading span,
.contact-heading span {
    color: #36b7b5;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 1.1rem;
}

.portfolio-heading h3,
.contact-heading h3 {
    color: #1c3548;
    font-size: 3rem;
    margin: 0px;
    font-weight: 400;
    letter-spacing: 1px;
}

#portfolio {
    width: 100%;
    border-top: 1px solid rgba(58, 58, 58, 0.03);
    border-bottom: 1px solid rgba(58, 58, 58, 0.03);
    padding: 50px 0px;
}

.portfolio-heading,
.contact-heading {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.port-box-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 20px 0px;
}

.port-box {
    width: 310px;
    height: 310px;
    background-color: #ffffff;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 10px;
    margin: 20px;
    box-shadow: 5px 10px 30px rgba(0, 0, 0, 0.08);
}

.port-box img {
    width: 90px;
    height: 90px;
    object-fit: cover;
    margin: 10px 0;
}

.port-box h4 {
    margin: 5px 0px;
}

.port-box strong {
    color: #1c3548;
    margin: 0px;
    font-size: 1.1rem;
    font-weight: 600;
    margin: 10px;
}

.port-box p {
    color: #747474;
    font-size: 0.9rem;
    margin: 0px;
    text-align: center;
    display: block;
    display: -webkit-box;
    max-width: 80%;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.port-box a {
    width: 140px;
    margin-top: 20px;
    border-radius: 0px;
}

.port-box:hover {
    transform: translateY(-10px);
    box-shadow: 5px 10px 30px rgba(0, 0, 0, 0.1);
    transition: all ease 0.2s;
}

#contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 40px 0px;
}

#contact h3 {
    font-size: 2.5rem;
}

#contact img {
    height: 100px;
}

.contact-input {
    width: 400px;
    height: 50px;
    margin: 15px 0px;
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    border-radius: 50px;
    box-shadow: 2px 2px 30px rgba(0, 0, 0, 0.15);
}

.contact-input input {
    width: 100%;
    background-color: transparent;
    border: none;
    outline: none;
    text-align: center;
    color: #242425;
}

.contact-input a,
.email-btn {
    width: 200px;
    height: 35px;
    background-color: #1db096;
    color: #ffffff;
    display: flex;
    font-size: 0.9rem;
    justify-content: center;
    align-items: center;
    margin: auto 10px;
    border-radius: 20px;
    font-weight: 500;
}

footer {
    display: flex;
    justify-content: space-around;
    border-top: 1px solid rgba(232, 232, 232, 0.5);
    background-color: #ffffff;
}

footer p {
    margin: 15px 0px;
    color: #5f5f5f;
    font-size: 0.9rem;
}



@media(max-width: 1140px) {
    .content {
        width: 100%;
    }
    .center {
        width: 400px;
        height: 400px;
    }
    .main-text, .center {
        margin: 10px;
    }
    .main-text h1 {
        font-size: 3rem;
    }
    .port-box {
        flex-grow: 0.5;
    }
}

@media(max-width: 900px) {
    nav {
        justify-content: space-between;
        height: 65px;
        padding: 0px 30px;
    }
    .logo img {
        height: 120px;
    }
    .menu {
        display: none;
        position: absolute;
        top: 65px;
        left: 0px;
        background-color: #ffffff;
        border-bottom: 4px solid #1db096;
        width: 100%;
        padding: 0;
        margin: 0;
    }
    .menu li {
        width: 100%;
    }
    nav .menu li a {
        width: 100%;
        height: 40px;
        justify-content: center;
        align-items: center;
        margin: 0px;
        padding: 25px;
        border: 1px solid rgba(38, 38, 38, 0.03);
    }
    nav .menu-icon {
        cursor: pointer;
        float: right;
        padding: 28px 20px;
        position: relative;
        user-select: none;
    }
    nav .menu-icon .nav-icon {
        background-color: #333333;
        display: block;
        height: 2px;
        position: relative;
        transition: background 0.2s ease-out;
        width: 18px;
    }
    nav .menu-icon .nav-icon:before,
    nav .menu-icon .nav-icon:after {
        background: #333;
        content: '';
        display: block;
        height: 100%;
        position: absolute;
        transition: all ease-out 0.2s;
        width: 100%;
    }
    nav .menu-icon .nav-icon:before {
        top: 5px;
    }
    nav .menu-icon .nav-icon:after {
        top: -5px;
    }
    nav .menu-btn:checked ~ .menu-icon .nav-icon {
        background: transparent;
    }
    nav .menu-btn:checked ~ .menu-icon .nav-icon:before {
        transform: rotate(-45deg);
        top: 0;
    }
    nav .menu-btn:checked ~ .menu-icon .nav-icon:after {
        transform: rotate(45deg);
        top: 0;
    }
    nav .menu-btn {
        display: none;
    }
    nav .menu-btn:checked ~ .menu {
        display: block;
    }
    .portfolio-heading h3,
    .contact-heading h3 {
        font-size: 2.2rem;
        text-align: center;
    }
}

@media(max-width: 720px) {
    .center {
        display: none;
    }
    .main-text {
        width: 70%;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
    }
    #contact img {
        height: 160px;
    }
    footer {
        justify-content: space-evenly;
        padding: 10px 20px;
    }
    footer p {
        text-align: center;
    }
}

@media(max-width: 530px) {
    .contact-input {
        width: 90%;
    }
}